<!DOCTYPE html>
<html>
<head>
  <title>sizemymultifamilyloan</title>
  <%= stylesheet_link_tag    "todos" %>
  <%= stylesheet_link_tag    "income_tables" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>

</body>
</html>
